.delete-button{
    background-color: rgb(219, 99, 99);
    color: white;
    height: 18px;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.attach-button{
  background-color: grey !important;
}
.heading {
  color: white;
  background-color: #1d7ccf;
  padding-left: 15px;
  font-size: 13px;
}