<form [formGroup]="buybackDetailsForm" (ngSubmit)="buybackDetailsSubmit()">
  <!-- <ng-template matStepLabel>Buyback</ng-template> -->

  <div class="mat-card pb-2 pl-3">
    <h3 class="buyback-heading">Buyback Details</h3>
    <!-- ------arbitration------- -->
    <mat-label class="content-styles"><span class="star">*</span>Did the Customer file for an arbitration
      processs administered by the State?</mat-label><br>
    <mat-button-toggle-group class="ml-1 mt-1" formControlName="isArbitrationFilled">
      <mat-button-toggle (click)="toggleArbitration()" value=true class="toggle-button" name="arbitration"
        [ngClass]="{'blue' : arbitrationToggle, 'grey': !arbitrationToggle}">Yes</mat-button-toggle>
      <mat-button-toggle (click)="toggleArbitration()" value=false class="toggle-button" name="arbitration"
        [ngClass]="{'blue' : !arbitrationToggle, 'grey': arbitrationToggle}">No</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="d-flex mt-3 mb-3">
      <div class="mr-5">
        <mat-label class="content-styles mb-0"><span class="star">*</span>Buyback Type</mat-label><br>
        <select class="dropdown-styles" formControlName="typeOfBuyback">
          <option value="0" >Select</option>
          <option value="REPLACEMENT">Replacement</option>
          <option value="REFUND">Refund</option>
        </select>
      </div>
      <div>
        <label class="content-styles mb-0"><span class="star">* </span>Stericycle to negotiate terms?</label><br>
        <mat-radio-group aria-label="Select an option" class="p-1" formControlName="isStericycleNegotiate">
          <mat-radio-button value='true' class="content-styles mr-2">Yes</mat-radio-button>
          <mat-radio-button value='false' class="content-styles">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <!-- ------mileague offset------- -->
    <mat-label class="content-styles"><span class="star">*</span>Will there be a mileage offset?</mat-label><br>
    <mat-button-toggle-group class="ml-1 mt-1 mb-3" formControlName="isMileageOffset">
      <mat-button-toggle (click)="toggleOffset()"  value=true class="toggle-button" name="offset"
        [ngClass]="{'blue' : offsetToggle, 'grey': !offsetToggle}">Yes</mat-button-toggle>
      <mat-button-toggle (click)="toggleOffset()" value=false class="toggle-button" name="offset"
        [ngClass]="{'blue' : !offsetToggle, 'grey': offsetToggle}">No</mat-button-toggle>
    </mat-button-toggle-group>
    <div [hidden]="!showOffsetDetails" class="pb-2 pt-2">
      <p class="content-styles">please select any type to enable fields</p>
      <div class="d-flex">
        <div class="col-3">
          <input type="checkbox" formControlName="isFlatUsageFee" id="flat-usage-fee" (change)="disablingInput1($event)">
          <label class="content-styles ml-1 mr-3" for="flat-usage-fee">Flat Usage Fee</label>
        </div>
        <fieldset [disabled]="flatUsageFeeDisable" class="col-3">
          <input (keyup)="getFlatUsageFee($event)" [ngStyle]="flatUsageFeeDisable?{'background-color': '#cfcecc'} : {'background-color': 'white'}" class="inputfield-styles" id="flatUsageFeeInputField" formControlName="flatUsageFee"  type="input" >
        </fieldset>
      </div>
      <div class="d-flex">
        <div class="col-3" >
          <input  formControlName="isStraightMilage" type="checkbox" id="straight-mileage" (change)="disablingInput2and3($event)">
          <label  class="content-styles ml-1" for="straight-mileage">Straight Mileage</label>
        </div>
        <fieldset [disabled]="straightMileageDisable" class="col-3">
          <input (keyup)="getCurrentStraightMileageMiles($event)" [ngStyle]="straightMileageDisable?{'background-color': '#cfcecc'} : {'background-color': 'white'}" class="inputfield-styles"  id="straightMileageMilesInputField" type="input" formControlName="straightMilageMiles"><br>
          <p class="content-styles">(# of Miles)</p>
        </fieldset>
        <div class="pl-3 pr-3 col-1">
          <p>x</p>
        </div>
        <fieldset [disabled]="straightMileageDisable" class="col-3">
          <input (keyup)="getCurrentStraightMileageCostPerMile($event)" [ngStyle]="straightMileageDisable?{'background-color': '#cfcecc'} : {'background-color': 'white'}" class="inputfield-styles"  id="straightMileageCostPerMilesInputField" type="input" formControlName="straightMilageCostPerMile" ><br>
          <p class="content-styles">(Cost per mile)</p>
        </fieldset>
        <div class="col-3 d-flex">
          <p>= {{ buybackDetailsForm.value.isMileageOffset ? straightMileageMilesTemp  * straightMileageCostPerMileTemp : ""}}</p>
        </div>
      </div>
      <h5>Total Offset : <b>{{buybackDetailsForm.value.isMileageOffset ?  (straightMileageMilesTemp  * straightMileageCostPerMileTemp) + flatUsageFeeTemp : "" }}</b></h5>
    </div><br>
    <mat-label class="content-styles"><span class="star">*</span>Are there any Aftermarket Accessories that should Not
      be replaced/Transfered?</mat-label><br>
    <div class="d-flex">
      <mat-radio-group class="mb-3 mr-4 p-1" aria-label="Select an option"
        formControlName="isAftermarketAccessories">
        <mat-radio-button (click)="AftermarketAccessoriesshow()" value="yes" class="content-styles mr-2">Yes</mat-radio-button>
        <mat-radio-button (click)="AftermarketAccessorieshide()" value="no" class="content-styles mr-2">No</mat-radio-button>
        <mat-radio-button (click)="AftermarketAccessorieshide()" value="unknown" class="content-styles">unknown</mat-radio-button>
      </mat-radio-group>
      <div [hidden]="showAftermarketAccessoriesList">
        <textarea formControlName="aftermarketAccessoriesList"></textarea>
      </div>
    </div>
  </div>
  <div class="mt-2">
    <button mat-button matStepperPrevious>Back</button>
    <button type="submit" mat-button matStepperNext >Save & Next</button>
  </div>
</form>